@charset "UTF-8";

.logout{
	text-align: right;
}

table, th, tr {
  border: 1.5px solid black;
}

.loginTable {
  text-align:center;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 1em;
  border-collapse: separate;
  border-spacing: 25px 10px;
}

table {
  border-collapse: separate;
  border-spacing: 25px 0;
}

.errorMessage{
	text-align:center;
    color: red;
}