<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Home</title>
<link rel="stylesheet" type="text/css" media="all"
	href="../CSS/mystyle.css" th:href="@{/css/mystyle.css}" />
</head>
<body>
	<div align="right">
		<a th:href="@{/Logout}">Logout</a>
	</div>
	<h1>Welcome to the Client Home Page</h1>
	<p th:text="${'Nice to see you again ' + session.user.name + ' ' + session.user.surname}"></p>
	
	<div th:if="${quotes.size() >0}">
		<table>
			<thead>
				<tr>
					<th>ID</th>
					<th>Product</th>
					<th>Price</th>
					<th>Link</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="q : ${quotes}">
					<td th:text="${q.quoteID}"></td>
					<td th:text="${ q.productID}"></td>
					<td th:text="${ q.price}"></td>
					<td><a th:href="@{/GetQuoteDetails(quoteID=${q.quoteID})}">Details</a></td>
					<td th:href></td>
				</tr>
			</tbody>
		</table>
	</div>  
	<div th:if="${quotes.size() == 0}"> No quotes were created.</div>

	<div>
		<h1>Create Quote</h1>
	
		<p>Select a product to display the available options</p>

			<form action="HomeClient">
  			<label for="product">Choose a product:</label>
  				<select name="productCode" id="productCode">
  				<option value="" selected disabled hidden=>Choose here</option>
    					 <option th:each="p : ${products}"
                    th:text="${p.productName}"
                    th:value="${p.productCode}">
  				</select>
  			<br><br>
  					<input type="submit" value="Load available options">
					</form>
				
				<br><br>
				<p th:text=" ${message}"></p>
				<form action="CreateQuote" method="post">
 					 <div th:each="t : ${productOptions}">
   						 <input type="checkbox" th:value="${t.optionID}" th:name="option[]" th:id="${t.name}"/>
    						<label th:text="${t.name}"></label>
  					</div>
  					<br><br>
  							<input th:if="${message}!=null"
  							type="submit" value= 'Create Quote'/>
						</form>
	</div>
</body>
</html>